# Node.js dependencies
node_modules
npm-debug.log

# Logs
logs
*.log

# Build files
dist
build

# Environment variables
.env

# Docker files
Dockerfile
Dockerfile.*

# Miscellaneous
*.swp
*.swo
.DS_Store